img{
    width: 80%;
    margin: auto;
    padding-left: 29px;
    padding-top: 67px;
    padding-bottom: 95px;
    padding-right: 83px;
    display: flex;
    
}
p{
    width: 80%;
    margin: auto;
    padding-left: 29px;
    padding-top: 67px;
    padding-bottom: 95px;
    padding-right: 83px;
    display: flex;
    justify-content: center;
} 
