#a{
margin-top: 100px;
margin-bottom: 23px;
margin-left: 59px;
margin-right: 68px;
padding-left: 29px;
padding-top: 67px;
padding-bottom: 95px;
padding-right: 83px;
display: flex;
background-color: aqua;
}
#b{
    margin-top: 140px;
    margin-bottom: 34px;
    margin-left: 19px;
    margin-right: 61px;
    padding-left: 49px;
    padding-top: 80px;
    padding-bottom: 95px;
    padding-right: 83px;
    display: flex;
    background-color: blanchedalmond;
}
#c{
    margin-top: 120px;
    margin-bottom: 54px;
    margin-left: 83px;
    margin-right: 68px;
    padding-left: 43px;
    padding-top: 67px;
    padding-bottom: 99px;
    padding-right: 83px;
    display: flex;
    background-color: blueviolet;
}
#d{
    margin-top: 37px;
    margin-bottom: 78px;
    margin-left: 36px;
    margin-right: 93px;
    padding-left: 38px;
    padding-top: 90px;
    padding-bottom: 95px;
    padding-right: 49px;
    display: flex;
    background-color: brown;
}